robosherlock/cmake/robosherlock_config.cmake
robosherlock/data
robosherlock/scripts/.*.modified
robosherlock/scripts/*.pyc
robosherlock/src/core/include/robosherlock/types/*.h
robosherlock/descriptors/typesystem/all_types.xml
robosherlock/.idea
robosherlock/cmake-build-debug
*.idea
*.*~
